<div class="container">

  <h2>Our latest Collection</h2>

  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div *ngFor="let product of productsArray">
  
      <mat-card class="product-card" (click)="addToCart(product)">
        
          <img mat-card-image src= "assets/images/{{product.image_url}}">
          <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.price | currency: 'USD'  }}</mat-card-subtitle>
          <mat-card-content>
            <p>
              card content
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      
    </div>
  </div>

</div> 