

<div class="container-sm" >
    <h1>Your Cart</h1>

    <mat-card >
        <mat-list role="list">
           
            <mat-list-item role="listitem" *ngFor="let product of productArray">
              <span matListItemTitle>{{product.name}}</span>
              <span matListItemLine>{{product.price | currency}}</span>
            </mat-list-item>

            <mat-list-item>
                <span matListItemTitle>TOTAL (USD)</span>
                <span matListItemLine class="price">{{totalPrice | currency}}</span>
              </mat-list-item>

            <mat-list-item class="text-right">
                <button mat-flat-button color="primary" (click)="clear()"> Clear</button>
            </mat-list-item>

            <mat-list-item class="text-right">
                <button mat-raised-button color="accent" (click)="checkout()"> Checkout</button>
            </mat-list-item>
    
       </mat-list>
    
    </mat-card>
   

</div>

